[mysqld]
ndbcluster
ndb-connectstring=172.34.2.101       # IP address for server management node
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
default_storage_engine=ndbcluster

[mysql_cluster]
ndb-connectstring=172.34.2.101       # IP address for server management node

[mysqld]
ndbcluster
ndb-connectstring=172.34.2.102       # IP address for server management node
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
default_storage_engine=ndbcluster

[mysql_cluster]
ndb-connectstring=172.34.2.102       # IP address for server management node
